{% extends "core/base.html" %}
{% block title %}Invalid link{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 text-center">
            <h4>This unsubscribe link isn't valid</h4>
            <p class="text-secondary">
                It may be malformed or refer to a lead that no longer exists.
                Please contact us directly if you'd like to be removed from our list.
            </p>
        </div>
    </div>
</div>
{% endblock %}
